<blockquote>↓↓↓これはダミー↓↓↓</blockquote>
{{ .Inner | markdownify }}
<blockquote>↑↑↑これはダミー↑↑↑</blockquote>
以下のショートコードへ置き換えてください。

<pre>
  ![alt](src "caption")
</pre>

<pre>
{< figure src="required" alt="" caption="" class="" href="" >}
</pre>
